div.hasSVG 
{
    outline-style:none;    
}

/* tooltip styling. by default the element to be styled is .graph-tooltip  */
.graph-tooltip {
	display:none;
	background:transparent url('img/graph-tooltip-bg.png');
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#ffffff;		
	z-index: 2000;
}

.graph-tooltip-big {	
	background:transparent url('img/graph-tooltip-big-bg.png');	
	height:166px;
	width:320px;	
}

.graph-tooltip a,
.graph-tooltip a:visited, 
.graph-tooltip a:hover 
{	
	color:#ffffff;	
	text-decoration:underline;
}

.graph-tooltip a:hover 
{	
	text-decoration:none;
}

.graph-tooltip div.external-searches 
{
    margin: 16px 0px 16px 0px;
}

.graph-tooltip div.external-searches img 
{
    margin-right:6px;    
    border-style:none;
}

/* graph title */
.graph-title,
.graph-sub-title
{
    position:absolute;
	top:10px;
	width:100%;
	text-align:center;	
	color:#606060;
	color: #ffffff;
	font-size:14px;
	font-weight:bold;
	font-family:Verdana;	
}

.graph-sub-title
{    
	top:24px;	
	font-size:12px;	
}
/* end graph title */

/* nav toolbar styling. by default the element to be styled is .graph-nav*/
.graph-nav
{    	
	font-size:12px;
	width:48px;
	height:80px;
	padding: 0px 0px 6px 0px;
	color:#ffffff;
	border: solid 1px #909090;
	position:absolute;
	top:40px;
	left:10px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    z-index: 1000;
    border-style:none;
}

.graph-nav-tool
{    	
	font-size:12px;	
	border: solid 1px #900000;
	background-image: url("img/nav.png");
	height: 16px;
    width: 16px;
    cursor:pointer;
    border-style:none;
}

.graph-nav-full-screen
{    		
	background-position: -16px -80px;
	margin-left:16px;
	display:none;	
}

/* pan controls */
.graph-nav-pan-up-left
{    	
	background-position: -108px -12px;
	float:left;
	visibility:hidden;	
}

.graph-nav-pan-up
{    		
	background-position: -32px 0px;
	float:left;
}

.graph-nav-pan-up-right
{    	
	background-position: -20px -12px;
	float:left;
	visibility:hidden;
}

.graph-nav-pan-left
{    		
	background-position: -48px 0px;
	float:left;
}

.graph-nav-pan-home
{    	
	background-position: -64px 0px;
	float:left;
}

.graph-nav-pan-right
{    	
	background-position: -16px -0px;
	float:left;
}

.graph-nav-pan-down-left
{    	
	background-position: -76px -20px;
	float:left;
	visibility:hidden;
}

.graph-nav-pan-down
{    	
	background-position: -0px -0px;
	float:left;
}

.graph-nav-pan-down-right
{    	
	background-position: -52px -20px;
	float:left;
	visibility:hidden;
}
/* end pan controls */

/* zoom controls */
.graph-nav-zoom 
{ 
    top: 8px;
    padding-top: 0px;
    position: absolute;
    right: -80px;
    
}
.graph-nav-zoom-in
{    	
	background-position: -110px -0px;
	width: 30px;
	height: 30px;
	float: left;
}

.graph-nav-zoom-out
{    	
	background-position: -80px -0px;
	width: 30px;
	height: 30px;
	margin-right: 8px;
	float: right;
}
/* end zoom controls */

/* legend styling. by default the element to be styled is .graph-legend*/
.graph-legend
{    	
	font-size:12px;
	min-width:48px;
	min-height:20px;
	padding: 10px 10px 10px 10px;
	color:#ffffff;
	border: solid 1px #909090;
	position:absolute;
	top:10px;
	right:10px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    z-index: 1000;
}

.graph-legend ul 
{
    margin:0px 0px 0px 0px;    
    padding:0px 0px 0px 0px;    
    list-style-position: inside;    
    list-style-type:none; 
}

.graph-legend ul li
{
    cursor: pointer;
}

.graph-legend ul li span
{
    margin-right:6px;
}

/* end legend */


/* search box styling. by default the element to be styled is .graph-search and .graph-search-box*/
.graph-search
{    		
	border: solid 1px #909090;
	position:absolute;
	top:10px;
	left:10px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    z-index: 1000;
    padding:2px 2px 2px 2px;
}

.graph-search-box 
{
    width:115px !important;    
    background-color: transparent;
    border-style:none !important;  
    outline-style:none;  
}

.graph-search-box-default-text 
{
    color:#6D6D6D;    
}

/* end search box */

/* graph-highlight styles */
#nodesGroup.graph-highlight-all .shape-main,
#connectionsGroup.graph-highlight-all .conn,
#labelsGroup.graph-highlight-all .label { opacity: 0.2; }

.graph-highlight-selected-node { opacity: 1 !important; stroke: #900000 !important; }
.graph-highlight-selected-connections { opacity: 1 !important; }
.graph-highlight-selected-label { opacity: 1 !important; }
.graph-highlight-selected-connected-nodes { opacity: 1 !important; }
.graph-highlight-selected-connected-labels { opacity: 1 !important; }

/* .graph-highlight-fast - for faster node selection when there are many nodes */
.graph-highlight-fast-selected-node { stroke: #900000 !important; }
.graph-highlight-fast-selected-connections { stroke: #900000; }
.graph-highlight-fast-selected-label { fill: #900000 !important; }

/* end graph-highlight styles */

/* graph-dragged styles */
.graph-dragged 
{
    cursor:move;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}            
/* end graph-dragged styles */
